.adress {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;

  background-color: @bg-color-main;

  @media (min-width: @tablet-width) {
    padding: 56px 70px 56px;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 565px;
    max-height: 300px;
    padding: 47px 75px 56px 80px;
    position: absolute;
    top: 50%;
    left: 110px;
    transform: translateY(-50%);
    background-color: @button-text-color;
  }
}

.adress-index {
  background-color: @button-text-color;
}

.adress__call {
  .font-submain;
  width: 135px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
  color: @adress-call-text-color;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;

    width: 171px;
    padding-top: 4px;
    padding-bottom: 5px;
  }

  @media (min-width: @desktop-width) {
    margin: 1px 0;
    overflow: hidden;
  }
}

.adress__wrapper {
  @media (min-width: @desktop-width) {
    margin: 1px 0;
    overflow: hidden;
  }
}

.adress__text {
  width: 139px;
  line-height: 20px;
  margin: 0;
  color: @text-color-submain;

  @media (min-width: @tablet-width) {
    width: 160px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;

    max-height: 140px;
    margin: 1px 0;
    overflow: hidden;
  }
}

.adress__city {
  @media (min-width: @tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    max-height: 140px;
    margin: 1px 0;
    overflow: hidden;
  }
}
