.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog__item {
  background-color: @bg-color-main;
}

.catalog__title {
  .font-submain;
  font-size: 24px;
  line-height: 37px;

  margin: 0;
}

.catalog__description {
  margin: 0;
}

.catalog__button {
  .font-submain;
  font-size: 16px;
  line-height: 16px;

  text-transform: uppercase;
  text-decoration: none;
  color: @text-color_main;
}
