.form__button {
  .font-submain;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  .button-color;
  border: none;
  margin: 0 20px 21px;
  box-sizing: border-box;
  width: calc(100% - 20px - 20px);
  height: 40px;

  @media (min-width: @tablet-width) {
    margin: 0 65px 72px 71px;
    width: 282px;
    height: 52px;
  }
}

.form__required {
  line-height: 16px;
  text-align: center;

  margin: 0;
  padding: 0 0 32px 0;

  @media (min-width: @tablet-width) {
    display: inline-flex;
  }
}
