.main-header {
  padding: 10px 20px 17px;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    min-width: 708px;
    margin: 0;
    padding: 0 30px;
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    padding: 53px 110px 0;
  }
}

.main-header__nav {
  @media (min-width: @tablet-width) {
    margin-left: auto;
  }
}

.main-header__hero-logo {
  display: block;

  @media (min-width: @tablet-width) {
    margin-right: auto;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-link-text {
  display: contents;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-header__text-logo {
  fill: @logo-text-color;
  margin-top: 3px;
  margin-right: 7px;
}

/*Начало бургер-меню*/
.main-header__burger {
  width: 24px;
  height: 18.5px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  position: relative;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-header__nav--closed .main-header__burger::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  width: 24px;
  height: 1.5px;
  background-color: @burger-color-line;
  box-shadow: 0 8px 0 0 @burger-color-line, 0 16px 0 0 @burger-color-line;
}

.main-header__nav--opened .main-header__burger::before,
.main-header__nav--opened .main-header__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  width: 25px;
  height: 1.5px;
  background-color: @burger-color-line;
  transform: rotate(45deg);
}

.main-header__nav--opened .main-header__burger::after {
  transform: rotate(-45deg);
}

@media (max-width: @mobile-width-only) {
  .main-header__nav--closed .main-header__list {
    display: none;
  }

  .main-header__nav--opened .main-header__list{
    display: block;
  }
}
/*Конец бургер-меню*/

.main-header__list {
  min-width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 1;

  @media (min-width: @tablet-width) {
    min-width: 440px;
    max-width: 532px;
    position: static;
    margin-top: 18px;

    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    min-width: 478px;
    max-width: 591px;
    margin-top: 16px;
  }
}

.main-header__link {
  .font-submain;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  display: block;
  padding: 22px 10px 24px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid @menu-line;
  color: @text-color_main;
  background-color: @button-text-color;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    min-width: 64px;
    max-width: 154px;
    padding: 0;
    border: none;
    background-color: inherit;
  }

  @media (min-width: @desktop-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    min-width: 71px;
    max-width: 171px;
  }

  &:hover {
    opacity: 0.6;
  }
}

.main-header__link--disabled {
  pointer-events: none;
  opacity: 0.3;
}

.main-header__item:nth-child(1n) .main-header__link {
  @media (min-width: @tablet-width) {
    margin-right: 33px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 34px;
  }
}

.main-header__item:nth-child(2n) .main-header__link {
  @media (min-width: @tablet-width) {
    margin-right: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 32px;
  }
}

.main-header__item:nth-child(3n) .main-header__link {
  border-bottom: 1px solid @menu-line;

  @media (min-width: @tablet-width) {
    border: none;
    margin-right: 0;
  }
}

.main-header__link-index {
  @media (min-width: @desktop-width) {
    color: @button-text-color;
  }
}

.main-header__link--active {
  position: relative;
}

.main-header__link--active::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;

    width: 100%;
    height: 2px;
    background-color: @button-bg-color;
  }
}

.main-header__link-index--active {
  position: relative;
}

.main-header__link-index--active::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;

    width: 100%;
    height: 2px;
    background-color: @button-bg-color;
  }

  @media (min-width: @desktop-width) {
    bottom: -6px;
    background-color: @text-bg-color;
  }
}

/*Без JS начало*/

@media (max-width: @mobile-width-only) {
  .main-header__nav--nojs .main-header__list {
    position: inherit;
    display: block;
  }

  .main-header--nojs {
    background-color: #ffffff;
    padding: 0;
    display: grid;
    grid-template-columns: 33px 101px 65px;
    grid-template-rows: 65px auto;
  }

  .main-header--nojs .main-header__logo-link {
    margin-left: 20px;
  }

  .main-header--nojs .main-header__text-logo {
    margin-left: 17px;
  }

  .main-header__nav--nojs .main-header__burger {
    display: none;
  }

  .main-header__nav--nojs {
    grid-column: 1/4;
    grid-row: 2/3;
  }
}

/*Без JS конец*/
