.main-header {
  padding: 10px 20px 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 53px 110px 0;
  }
}

.main-header-index {
  @media (min-width: @desktop-width) {
    position: absolute;
    width: 1220px;
    z-index: 1;
  }
}

.main-header__logo-link,
.main-header__logo-link-text {
  display: contents;
}

.main-header__burger {
  width: 24px;
  height: 18.5px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  position: relative;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-header__nav--closed .main-header__burger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 1.5px;
  background-color: @burger-color-line;
  box-shadow: 0 6.5px 0 0 @burger-color-line, 0 13px 0 0 @burger-color-line;
}

.main-header__nav--opened .main-header__burger::before,
.main-header__nav--opened .main-header__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  width: 25px;
  height: 1.5px;
  background-color: @burger-color-line;
  transform: rotate(45deg);
}

.main-header__nav--opened .main-header__burger::after {
  transform: rotate(-45deg);
}

.main-header__list {
  min-width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 65px;
  left: 0;

  @media (min-width: @tablet-width) {
    width: 440px;
    position: static;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
  }
}

.main-header__item {
  border-top: 1px solid @menu-line;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.main-header__item:last-child {
  border-bottom: 1px solid @menu-line;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.main-header__link {
  .font-submain;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  display: block;
  padding: 22px 0 24px 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: @text-color_main;
  background-color: @button-text-color;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    background-color: inherit;
  }

  @media (min-width: @desktop-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-header__link-index {
  @media (min-width: @desktop-width) {
    color: @button-text-color;
  }
}

.main-header__link-index--active {
  @media (min-width: @tablet-width) {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: @button-bg-color;
  }

  @media (min-width: @desktop-width) {
    text-decoration-color: @button-text-color;
  }
}

.main-header__link--active {
  @media (min-width: @tablet-width) {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: @button-bg-color;
  }
}

/*Без JS начало*/

@media (max-width: @tablet-width) {
  .main-header__nav--closed .main-header__list {
    display: none;

    &--opened {
      display: block;
    }
  }

  .main-header--nojs {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 10px;
    justify-items: center;
  }

  .main-header--nojs .main-header__nav--nojs {
    grid-column: 1/3;
  }

  .main-header__nav--nojs .main-header__burger {
    display: none;
  }

  .main-header__nav--nojs .main-header__list {
    position: static;
    display: block;
  }
}

/*Без JS конец*/
