.promo {
  padding: 27px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../img/index/cat-bg-mobile.jpg");
  background-size: 320px auto;
  background-repeat: no-repeat;
  background-position: top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/cat-bg-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    padding: 64px 30px 0;
    position: relative;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    min-height: 584px;
    padding: 110px 110px 0;
    align-items: flex-start;

    background-image: url("../img/index/cat-bg-desktop.jpg");
    background-size: 720px 694px;
    background-position: top right;
  }
}

.promo__title {
  .font-submain;
  font-size: 36px;
  line-height: 36px;

  width: 416px;
  margin: 0;
  padding-bottom: 25px;
  text-align: center;
  color: @text-bg-color;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    align-self: flex-start;
    text-align: start;
    padding-left: calc(118px - 30px);
    color: @text-color_main;
  }

  @media (min-width: @desktop-width) {
    width: 416px;
    padding: 111px 0 0 80px;
  }
}

.promo__description {
  .font-submain;
  line-height: 14px;
  margin: 0;
  padding-bottom: 29px;
  text-align: center;
  text-transform: uppercase;
  color: @text-bg-color;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    align-self: flex-start;
    text-align: start;
    padding-left: calc(118px - 30px);
    padding-bottom: 20px;
    color: @text-color_main;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 416px;
    padding: 40px 0 0 80px;
  }
}

.promo__image {
  display: block;
  align-self: center;
  padding-bottom: 3px;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 144px;
    right: 330px;
  }
}

.promo__button {
  .font-submain;
  .button-color;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  padding: 7px 0;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;

    width: 244px;
    min-height: 54px;
    padding: 14px 0;
    position: absolute;
    left: 121px;
    bottom: 526px;
  }

  @media (min-width: @desktop-width) {
    position: static;
  }

  @media (min-width: @desktop-width) {
    margin: 52px 0 0 80px;
  }
}
