.social {
  min-width: 280px;
  padding: 20px 0;
  border-top: 1px solid @social-line;
  border-bottom: 1px solid @social-line;

  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    margin-left: 26px;
    padding: 0;
    border: none;
  }
}

.social__list {
  max-width: 236px;
  padding: 0;
  margin: 0;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.social__list::after {
  top: 42px;
}

.social__item {
  list-style: none;
  display: inline-block;

  &:focus-within {
    outline: 2px solid #000000;
    border-radius: 2px;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
}

.social__link--vk {
  .social-image-mask-setting();
  mask: url("../img/social/vk.svg") no-repeat center;
}

.social__link--youtube {
  .social-image-mask-setting();
  mask: url("../img/social/youtube.svg") no-repeat center;
}

.social__link--telegram {
  .social-image-mask-setting();
  mask: url("../img/social/telegram.svg") no-repeat center;
}
