.stats__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0;
  padding-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 60px;
  }
}

.stats__item {
  position: relative;
}

.stats__description {
  font-size: 12px;
  line-height: 12px;
  color: @text-color-submain;

  position: absolute;
  bottom: -12px;

  left: 50%;
  transform: translateX(-50%);
  width: 81px;
  max-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  background-color: @bg-color-submain;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;

    width: max-content;
    max-width: 125px;
    max-height: 14px;
    padding: 0 10px;

    bottom: -5px;
    background-color: @text-bg-color;
  }

  @media (min-width: @desktop-width) {
    background-color: @bg-color-submain;
  }
}

.stats__number {
  .font-submain;
  font-size: 24px;
  line-height: 24px;

  box-sizing: border-box;
  width: 124px;
  margin: 0;
  padding: 14px 5px 18px 5px;
  text-align: center;
  border: 1px solid @stats-border-color;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    min-height: 72px;
  }
}

.expenses__text,
.expenses__price {
  .font-submain;
  line-height: 20px;
  text-transform: uppercase;
}
