@burger-color-line: #000000;

@button-bg-color: #68b738;
@button-text-color: #ffffff;

@text-color_main: #000000;
@text-color-submain: #444444;
@text-bg-color: #ffffff;

@bg-color-main: #f2f2f2;
@bg-color-submain: #eaeaea;
@bg-color-arrow: #000000;
@bg-image-color: rgba(104, 183, 56, 0.85);

@bg-job-color: #68b738;

@social-line: #d9d9d9;
@menu-line: #e6e6e6;

@catalog-circle-bg: #68b738;
@stats-border-color: #cdcdcd;

@header-line-color: #d9d9d9;
@products-line-color: #EBEBEB;
@products-name-color: #222222;

@specification-text-color: #444444;
@specification-dl-line-color: #cdcdcd;

@plus-others-color: #d3d3d3;

@products-others-title: #111111;
@products-others-text: #444444;
@products-others-border: #f2f2f2;

@button-color-disabled: #444444;
@button-bg-color-disabled: #f2f2f2;

@additional-products-line-color: #cdcdcd;
@additional-products-subtitle-color: #222222;
@additional-products-text-color: #444444;

@gift-text-color: #ffffff;

@form-text-color: #444444;
@form-border-color: #e7e7e7;
@form-border-fielset-color: #d9d9d9;
@form-text-fieldset-color: #222222;
@radio-border-color: #cdcdcd;
@checkbox-border-color: #cdcdcd;
@radio-checked-color: #68b738;
@form-title-line-color: #68b738;
@form-svg-static-color: #000000;
@form-svg-focus-color: #68b738;
@form-svg-invalid-color: #ff8282;


@adress-call-text-color: #111111;

@social-button-default-color: #666666;
@social-button-hover-color: #68b738;

@logo-text-color: #111111;
@logo-text-hover-color: #3e3e3e;
@logo-text-active-color: #6b6b6b;
