@button-bg-color: #68b738;
@button-text-color: #ffffff;

@text-color_main: #000000;
@text-color-submain: #444444;
@text-bg-color: #ffffff;

@bg-color-main: #f2f2f2;
@bg-color-submain: #eaeaea;
@bg-color-arrow: #000000;

@bg-job-color: #68b738;

@social-line: #d9d9d9;
@menu-line: #e6e6e6;

@catalog-circle-bg: #68b738;
@stats-border-color: #cdcdcd;
